// 正常使用两倍图，像素比为3时，使用三倍图
bg-img($url)
  background-image: url($url + '@2x.png')
@media (min-resolution: 3ddpx)
  background-image: url($url + '@3x.png')

ellipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

backdrop-filter-blur($pixel)
  -webkit-backdrop-filter: blur($pixel)
  backdrop-filter: blur($pixel)

spread-area()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -0.625rem
    right: -0.625rem
    bottom: -0.625rem
    left: -0.625rem
